/* App.css */

.app-container {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, rgb(0, 121, 242), rgb(144, 214, 255));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-header {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.app-logo {
  height: 80px;
  padding: 20px; /* Increase background size */
  background-color: #3498db;
  background-size: contain;
  border-radius: 10px;
  border-color: #3498db;
}

.app-title {
  font-size: 2.5em;
  margin: 20px 0;
  color: #333;
}

.app-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 1200px;
}

.date-display {
  font-size: 1.2em;
  color: #333;
  margin-top: 10px;
  grid-column: 1 / 3; /* Span across both columns */
}

.auth-buttons {
  margin-top: 20px;
}

.auth-buttons form,
.auth-buttons button {
  display: inline-block;
  margin: 5px;
}

.auth-buttons input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.auth-button {
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-button:hover {
  background-color: #2980b9;
}

.admin-message {
  color: red;
  font-weight: bold;
}
