/* SearchBar.css */

.search-bar {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-bar input {
    padding: 10px;
    width: 60%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  .search-bar button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #2980b9;
  }
  